body{
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    border: dashed white 3px;
    font-size: 50px;
}

p{
    color: red;
}

.gif {
    text-align: center;
   padding: 15px;
}